#wrap{
	width: 100%;
}

.left{
	width: 300px;
	background-color: gray;
	height: 500px;
	float: left;
}

.right{
	width: 200px;
	background-color: blue;
	height: 500px;
	float: right;
}

input[type=checkbox]
{
	position: : relative;
	vertical-align: middle;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  padding: 10px;
}